image efi-part.vfat {
    vfat {
        extraargs = "-F 32 -n EFI_SYSTEM"
        
        # Buildroot post-image script must prepare this directory:
        # output/images/efi-part/EFI/BOOT/bootx64.efi
        file EFI {
            image = "efi-part/EFI"
        }
        
        file EFI/BOOT/grub.cfg {
            image = "grub.cfg"
        }
    }
    size = 32M
}

image synapta-os.img {
    hdimage {
        partition-table-type = "gpt"
    }

    partition bios-boot {
        image = "grub.img" 
        offset = 32K
        size = 1M
        partition-type-uuid = 21686148-6449-6E6F-744E-656564454649
    }

    partition efi {
        image = "efi-part.vfat"
        bootable = true
        partition-type-uuid = c12a7328-f81f-11d2-ba4b-00a0c93ec93b
        offset = 2M   # 1M for bios-boot + alignment
    }

    partition root {
        image = "rootfs.ext4"
        partition-type-uuid = 4f68bce3-e8cd-4db1-96e7-fbc68e749c09
        partition-uuid = 5f68bce3-e8cd-4db1-96e7-fbc68e749c09
    }

    partition data {
        size = 512M
        partition-type-uuid = 0fc63daf-8483-4772-8e79-3d69d8477de4
    }
}
