set default="0"
set timeout="5"

menuentry "Synapta OS (Hybrid)" {
    # Cargar kernel bzImage desde la partición root (que grub montará como root si está configurado)
    # O desde la partición boot si tuviéramos una separada.
    # En este setup, bzImage suele estar en /boot/bzImage dentro de rootfs
    
    # Buscar la partición root por UUID
    search --no-floppy --fs-uuid --set=root 5f68bce3-e8cd-4db1-96e7-fbc68e749c09
    
    # Linux boot
    # root=PARTUUID=... indica al kernel qué partición montar como /
    linux /boot/bzImage root=PARTUUID=5f68bce3-e8cd-4db1-96e7-fbc68e749c09 rw rootwait console=tty1 quiet
}

menuentry "System Restart" {
	reboot
}

menuentry "System Shutdown" {
	halt
}
